@use 'sass:map';

$space: get-spacing();

*,
*::before,
*::after {
	box-sizing: border-box;
}

.edit-link {
	display: none;
}

#primer {
	padding-bottom: get-spacing( 2 );

	@media screen and ( min-width: bp(sm) ) {
		padding-bottom: get-spacing( 3 );
	}
}

main {
	min-height: 50vh;
	margin: 0 auto;
	background-color: #fff;

	.page {
		> .entry-content {
			> section {
				> .content {
					padding: get-spacing( 2 );
					@media screen and ( min-width: bp(sm) ) {
						padding: 0;
					}
				}
			}
		}
	}
}

.error404,
body.page {
	.page-title {
		font-size: map.get( $font-sizes, h1 );
		@include headings( h1 );
	}

	.entry-header {
		padding-left: get-spacing();
		padding-right: get-spacing();
	}
}

h3.has-background-color,
h2.has-background-color {
	color: color( 'background' );
}

// Book spine image
.header-banner {
	.wp-block-cover__image-background {
		max-width: 1100px;
		margin: 0 auto;
		@media screen and ( min-width: bp(md) ) {
			object-fit: contain;
		}
	}
}

// Build libraries, not prisons
section.scroll {
	.wp-block-image {
		max-width: 370px;
		height: auto;
	}
}

section.how-you-can-help .an-block,
section.data .data-block {
	text-align: left;

	h2 a,
	h2 {
		color: color( 'headline-inverse' );
	}

	.wp-block-buttons {
		.wp-block-button {
			display: inline-block;
			margin: get-spacing( 2 ) auto;
		}

		.wp-block-button__link {
			margin: 0 auto;
		}
	}
}

.svg-sprite-wrapper {
	position: fixed;
	top: 100vh;
}

#actions {
	figure:first-of-type {
		margin-bottom: 0;
	}

	.wp-block-button:first-of-type {
		margin-top: 0;
	}
}

#about,
#articles,
#action,
#partners,
#data {
	scroll-margin-top: 100px;
}
