@use 'sass:map';

$space: get-spacing();

*,
*::before,
*::after {
	box-sizing: border-box;
}

.edit-link {
	display: none;
}

#primer {
	padding-bottom: get-spacing(2);

	@media screen and (min-width: bp(sm)) {
		padding-bottom: get-spacing(3);
	}
}

#articles {
	padding-bottom: get-spacing(4.56);
	padding-top: 2.65rem;

	.wp-block-site-functionality-linked-article {
		.tout__title {
			margin-bottom: 0;
		}

		.tout__content {
			margin-top: 0;
		}
	}

	.article-list-text {
		padding: 0;
		margin: get-spacing(3) 0 0 0;
		list-style: none;
		line-height: 1.2;

		li {
			margin-bottom: get-spacing(0.75);
		}

		a {
			text-decoration: none;
			color: color(heading);
			&:visited {
				color: color(heading);
			}
		}

		strong {
			color: colors(heading);
		}

		a:first-child {
			@include the-font;
			@include headings(h4);
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

main {
	min-height: 50vh;
	margin: 0 auto;
	background-color: #fff;

	.page {

		> .entry-content {

			> section {

				margin: 0 auto;

				> .content {
					padding: get-spacing(2);
					@media screen and (min-width: bp(sm)) {
						padding: 0;
					}
				}
			}
		}
	}
}

.error404,
body.page {
	.page-title {
		font-size: map.get( $font-sizes, h1 );
		@include headings(h1);
	}

	.entry-header {
		padding-left: get-spacing();
		padding-right: get-spacing();
	}
}

// .body-open,
// .svg-sprite-wrapper {
// 	position: fixed;
// 	top: 0;
// 	left: -100vw;
// }

h3.has-background-color,
h2.has-background-color {
	color: color('background');
}

.page__header {
	.wp-block-cover {
		.wp-block-cover__image-background {
			object-fit: none;
			top: 24px;
		}
	}
}

.how-you-can-help {

	background-color: color(body-text);

	> .wp-block-columns {
		max-width: 1500px;
		margin: 0 auto;
	}

	.wp-block-columns {
		column-gap: 0;
		row-gap: 0;
		margin-bottom: 0;
	}

	.wp-block-image {
		aspect-ratio: 0.790513833992095;
		max-width: 180px;
	}

	.cols {

		padding: 0;


		.wp-block-cover {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: first baseline;
			padding: get-spacing(3);
			@media screen and (min-width: bp(md) ) {
				min-height: 490px;
				padding: get-spacing(3);
			}
		}

		.wp-block-cover__inner-container {
			display: flex;
			flex-direction: column;
			justify-content:  flex-start;
			align-items: first baseline;

			.wp-block-heading {
				margin-top: 0;
				text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
				margin-bottom: 0;
			}

			p {
				max-width: 42%;
			}
		}
	}
}

.partners {

	margin: get-spacing(3) get-spacing(2);

	.logo-grid {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		// @media screen and (min-width: bp(xs)) {
		// 	grid-template-columns: 1fr 1fr 1fr;
		// }

		// @media screen and (min-width: bp(sm)) {
		// 	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		// }

		$logo-height: 130px;
		.wp-block-image {

			position: relative;
			height: $logo-height;
			width: auto;

			> a,
			> img {
				display: block;
				width: auto;
				height: $logo-height;
				box-sizing:content-box;
				position: relative;
			}

			> a {
				padding: get-spacing();
				transition-property: padding, border-width, border-color;
				transition-timing-function: ease-out;
				transition-duration: 0.1s;
				border: 2px transparent solid;

				&:hover,
				&:focus {
					// padding: get-spacing(1.2);
					border: 2px #dedede solid;
				}
			}

			img {
				margin: get-spacing();
				vertical-align: middle;
				display: block;
				position: relative;
				margin: 1rem;
				// top: 50%;
				// left: 50%;
				// transform: translate3d(-50%, -50%, 0);
				height: $logo-height;
				width: auto;
			}
		}
	}

	.partner-links {

		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		> li {
			display: inline-block;
			position: relative;
			margin-right: 0.75rem;
			&::after {
				content: "|";
				display: inline-block;
				margin-left: 0.25rem;
				margin-right: 0.25rem;
				position: absolute;
				top: 0.25rem;
				right: -0.75rem;
				&:last-of-type::after {
					content: "";
				}
			}
		}

		a {
			display: block;
			padding: 0.25em 0.5em;
			text-decoration: none;

			&:hover {
				background-color: color(body-text);
				color: color(background);
			}
		}
	}
}

section.scroll {
	.wp-block-image {
		max-width: 370px;
		height: auto;
	}
}

section.how-you-can-help .an-block,
section.data .data-block {

	padding: get-spacing(3) get-spacing(2);
	padding-top: 2rem;
	padding-bottom: 4rem;
	text-align: center;

	h2 a,
	h2 {
		color: color('headline-inverse');
	}

	.wp-block-buttons {
		.wp-block-button {
			display: inline-block;
			margin: 0 auto;
		}
		.wp-block-button__link {
			margin: 0 auto;
		}
	}

	.data-button {

		height: 100px;
		width: auto;
		display: flex;
		margin-top: 3rem;
		margin-bottom: 3rem;
		justify-content: center;
		justify-items: center;
		flex-wrap: nowrap;
		gap: 2rem;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
			a {
				text-decoration: underline;
			}
		}

		.wp-block-image img,
		.wp-block-image {
			width: 100px;
			height: 100px;
			position: relative;
		}

		.wp-block-image {

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				padding: 0;
				transform: translate3d(-50%, -50%, 0) scale3d(1,1,1);
				transition-property: transform, border-width;
				transition-duration: 0.2s;
				transition-timing-function: ease-out;
				border: 1px transparent solid;
				border-radius: 50%;
				border: 8px color(accent) solid;
			}
		}

		&:hover .wp-block-image img {
			transform: translate3d(-50%, -50%, 0) scale3d(1.3,1.3,100);
			border-width: 16px;

		}

		.wp-block-heading {
			display: inline-block;
			vertical-align: middle;
			line-height: 1;
			height: 100%;
			margin: 0;
		}
	}
}


.svg-sprite-wrapper {
	position: fixed;
	top: 100vh;
}
