@use 'sass:map';

$space: get-spacing();
$partner-logo-height--sm: 80px;
$partner-logo-height--mid: 100px;
$partner-logo-height--lg: 130px;
$tout-height: 490px;

*,
*::before,
*::after {
	box-sizing: border-box;
}

.edit-link {
	display: none;
}

#primer {
	padding-bottom: get-spacing( 2 );

	@media screen and ( min-width: bp(sm) ) {
		padding-bottom: get-spacing( 3 );
	}
}

#articles {
	padding-bottom: get-spacing( 4.56 );
	padding-top: 2.65rem;

	.wp-block-site-functionality-linked-article {
		.tout__title {
			margin-bottom: 0;
		}

		.tout__content {
			margin-top: 0;
		}
	}

	.article-list-text {
		padding: 0;
		margin: get-spacing( 3 ) 0 0 0;
		line-height: 1.2;

		li {
			margin-bottom: get-spacing( 0.75 );
		}

		a {
			text-decoration: none;
			color: color( heading );

			&:visited {
				color: color( heading );
			}
		}

		strong {
			color: colors( heading );
		}

		a:first-child {
			@include the-font;
			@include headings( h4 );
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

main {
	min-height: 50vh;
	margin: 0 auto;
	background-color: #fff;

	.page {
		> .entry-content {
			> section {
				> .content {
					padding: get-spacing( 2 );
					@media screen and ( min-width: bp(sm) ) {
						padding: 0;
					}
				}
			}
		}
	}
}

.error404,
body.page {
	.page-title {
		font-size: map.get( $font-sizes, h1 );
		@include headings( h1 );
	}

	.entry-header {
		padding-left: get-spacing();
		padding-right: get-spacing();
	}
}

h3.has-background-color,
h2.has-background-color {
	color: color( 'background' );
}

.header-banner {
	.wp-block-cover__image-background {
		max-width: 1100px;
		margin: 0 auto;
		@media screen and ( min-width: bp(md) ) {
			height: auto;
		}
	}
}

.how-you-can-help {
	background-color: color( body-text );

	.actions {
		padding-bottom: get-spacing( 3 );
	}

	.wp-block-columns {
		max-width: 1500px;
		margin: 0 auto;
		column-gap: 0;
		row-gap: 0;
		margin-bottom: 0;
		padding: 0;
		overflow: hidden;

		.wp-block-cover {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: first baseline;
			padding: get-spacing( 3 );
		}

		@media screen and ( max-width: bp(sm) ) {
			// specific styles for the shop tout on mobile
			.shop-tout-column {
				max-height: 280px;

				.wp-block-cover.shop-tout {
					min-height: auto;
					max-height: 280px;
					height: 280px;
					object-fit: contain;
					object-position: top;
				}
			}
		}

		@media screen and ( min-width: bp(sm) ) {
			.wp-block-cover {
				max-height: $tout-height;
				min-height: $tout-height;
				height: $tout-height;
				padding: get-spacing( 3 );
				object-fit: cover;
			}

			.wp-block-cover.shop-tout {
				max-height: $tout-height !important;
				min-height: $tout-height !important;
				height: $tout-height !important;
				object-fit: cover;
				object-position: center;
			}
		}

		.wp-block-cover__inner-container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: first baseline;

			.wp-block-heading {
				margin-top: 0;
				text-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.4 );
				margin-bottom: 0;
			}

			p {
				max-width: 50%;
				@media screen and ( min-width: bp(md) ) {
					max-width: 42%;
				}
			}
		}
	}
}

.partners {
	margin: get-spacing( 3 ) get-spacing( 2 );

	.logo-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.wp-block-image {
			position: relative;
			height: $partner-logo-height--sm;
			width: auto;

			> a,
			> img {
				display: block;
				width: auto;
				max-width: 150px;
				height: $partner-logo-height--sm;
				box-sizing: content-box;
				position: relative;
			}

			> a {
				padding: get-spacing();
				transition-property: padding, border-width, border-color;
				transition-timing-function: ease-out;
				transition-duration: 0.1s;
				border: 2px transparent solid;

				&:hover,
				&:focus {
					border: 2px #dedede solid;
				}
			}

			img {
				vertical-align: middle;
				display: block;
				position: relative;
				height: $partner-logo-height--sm;
				width: auto;
			}

			@media screen and ( min-width: bp(sm) ) {
				height: $partner-logo-height--mid;

				> a,
				> img {
					max-width: 200px;
					height: $partner-logo-height--mid;
				}
				img {
					height: $partner-logo-height--mid;
				}
			}

			@media screen and ( min-width: bp(md) ) {
				height: $partner-logo-height--lg;

				> a,
				> img {
					max-width: 340px;
					height: $partner-logo-height--lg;
				}
				img {
					height: $partner-logo-height--lg;
				}
			}
		}
	}

	.partner-links {
		margin: 0 0 get-spacing( 2 ) 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		> li {
			display: inline-block;
			position: relative;
			margin-right: 0.75rem;

			&::after {
				content: '|';
				display: inline-block;
				margin-left: 0.25rem;
				margin-right: 0.25rem;
				position: absolute;
				top: 0.25rem;
				right: -0.75rem;

				&:last-of-type::after {
					content: '';
				}
			}
		}

		a {
			display: block;
			padding: 0.25em 0.5em;
			text-decoration: none;
			text-align: center;

			&:hover {
				background-color: color( body-text );
				color: color( background );
			}
		}
	}
}

section.scroll {
	.wp-block-image {
		max-width: 370px;
		height: auto;
	}
}

section.how-you-can-help .an-block,
section.data .data-block {
	padding-top: 2rem;
	text-align: left;

	h2 a,
	h2 {
		color: color( 'headline-inverse' );
	}

	.wp-block-buttons {
		.wp-block-button {
			display: inline-block;
			margin: get-spacing( 2 ) auto;
		}

		.wp-block-button__link {
			margin: 0 auto;
		}
	}

	.data-button {
		display: flex;
		justify-content: center;
		justify-items: center;
		flex-direction: column;
		text-align: center;
		flex-wrap: nowrap;
		gap: 2rem;
		padding-left: get-spacing( 4 );
		padding-right: get-spacing( 4 );
		cursor: pointer;
		position: relative;
		padding-bottom: 2rem;

		&:hover {
			text-decoration: underline;

			a {
				text-decoration: underline;
			}
		}

		.wp-block-image img,
		.wp-block-image {
			width: 130px;
			height: 130px;
		}

		.wp-block-image {
			position: relative;
			background-color: color( body-text );

			img {
				position: relative;
				top: get-spacing( 0.5 );
				padding: 0;
				transform: scale3d( 1, 1, 1 );
				transition-property: transform, border-width;
				transition-duration: 0.2s;
				transition-timing-function: ease-out;
				border-radius: 50%;
				border: 8px color( accent ) solid;
			}
		}

		&:hover .wp-block-image img {
			transform: scale3d( 1.3, 1.3, 100 );
			border-width: 16px;
		}

		.wp-block-heading {
			display: inline-block;
			vertical-align: middle;
			line-height: 1.2;
			margin: 0;
		}

		@media screen and ( min-width: bp(sm) ) {
			text-align: left;
			flex-direction: row;
			.wp-block-heading {
				margin: get-spacing( 5 ) 0 0 0;
			}
			padding-bottom: 0;
		}
	}
}

.svg-sprite-wrapper {
	position: fixed;
	top: 100vh;
}

#actions {
	figure:first-of-type {
		margin-bottom: 0;
	}

	.wp-block-button:first-of-type {
		margin-top: 0;
	}
}

#about,
#articles,
#action,
#partners,
#data {
	scroll-margin-top: 100px;
}
