@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@font-face {
    font-family: dmsans;
	font-weight: regular;
    src: url('../fonts/DMSans-Regular.woff2') format('woff2');
	font-display: swap;
}

@font-face {
    font-family: dmsans;
	font-weight: regular;
	font-style: italic;
    src: url('../fonts/DMSans-Regular-Italic.woff2') format('woff2');
	font-display: swap;
}

@font-face {
    font-family: dmsans;
	font-weight: bold;
    src: url('../fonts/DMSans-Bold.woff2') format('woff2');
	font-display: swap;
}

@font-face {
    font-family: dmsans;
	font-weight: bold;
	font-style: italic;
    src: url('../fonts/DMSans-Bold-Italic.woff2') format('woff2');
	font-display: swap;
}

$font-sizes: (
	'body': 1rem,
	'h5': 1.563rem,
	'h4': 1.953rem,
	'h3': 2.441rem,
	'h2': 3.052rem,
	'h1': 3.815rem,
	'lede': 1.2rem,
	'huge': 4rem
);

$display-font: 'dmsans';
$body-font: 'Source Sans Pro', sans-serif;

html,
body {
	padding: 0;
	margin: 0;
    font-family: $body-font, sans-serif;
	font-size: map.get($font-sizes, body);
}

%h1,
h1,
%h2,
h2,
%h3,
h3,
h4,
h5 {
	line-height: 1.2;
}

h1 {
	font-size: map.get($font-sizes, h1);
}

h2 {
	font-size: map.get($font-sizes, h2);
}

h3 {
	font-size: map.get($font-sizes, h3);
}

@mixin h2 {
	font-size: map.get($font-sizes, h2);
	line-height: 1.2;
}

@mixin h3 {
	font-size: map.get($font-sizes, h3);
	line-height: 1.2;
}

@mixin h4 {
	font-size: map.get($font-sizes, h4);
	line-height: 1.2;
}

@mixin h5 {
	font-size: map.get($font-sizes, h5);
	line-height: 1.2;
}

@mixin display-font {
	font-family: $display-font, sans-serif;
	font-weight: 800;
}

.lede {
	font-size: map.get($font-sizes, lede);
	max-width: 60em;
}
