@use 'sass:map';

.btn-primary,
.wp-block-button__link {
	@include display-font;
	font-size: map.get($font-sizes, h5);
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: map.get($font-sizes, h4);
	padding: get-spacing(0.25) get-spacing(0.5);
	&:hover,
	&:focus {
		/* hover */
	}
}
