@use 'sass:map';

.menu__inner-toggle,
.menu__toggle {
	display: none;
	// display: block;
	// position: absolute;
	// left: auto;
	// right: get-spacing(1);
	// top: get-spacing(1);
	// width: get-spacing(2);
	// height: get-spacing(2);
	// @media screen and (min-width: bp(sm)) {
	// 	display: none;
	// }
}

%site-logo--small {
	.site-logo {
		aspect-ratio: 0.564965197215777;
		width: 30px;
		height: 32px;
		position: absolute;
		left: get-spacing(2);
	}

	.logo-mobile {
		display: block;
	}

	.logo-desktop {
		display: none;
	}
}

%nav--primary--small {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	z-index: 10;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.23);

	body.admin-bar & {
		top: 32px;
	}
}

.site-header {

	position: relative;

	.menu {

		list-style: none;
		margin: 0 auto;
		padding: 0 get-spacing(3);
		display: flex;
		justify-content: space-between;
		max-width: 578px;
		padding-bottom: get-spacing(0.75);
		margin-left: get-spacing(4);

		.menu-item {
			margin: get-spacing(0.33) 0 get-spacing(0.33) 0;

			a {
				display: block;
				padding-left: 0;
				padding-right: 0;
				font-family: $font;
				color: color(text);
				text-decoration: none;
				font-weight: 700;
				@include the-font;
				position: relative;

				&::after {
					content: '';
					display: block;
					background-image: url('../images/nav-dash.svg');
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					z-index: 10;
					top: 100%;
					left: 0;
					height: 12px;
					width: 0%;
					overflow: hidden;
					transition-property: width;
					transition-duration: 0.082s;
					transition-timing-function: ease-out;
				}

				&.active,
				&:hover {
					&::after {
						width: 100%;
					}
				}
			}
		}
	}

	@media screen and ( min-width: bp(sm) ) {

		margin-left: auto;
		margin-right: auto;
		height: 200px;

		.menu {
			overflow: visible;
			max-height: 100%;
			height: auto;
			padding: 0;
			padding-bottom: get-spacing(1.5);
			margin-left: auto;
		}
	}
}

.site-header:not(.out-of-view) {
	@media screen and ( min-width: bp(sm) ) {
		.nav--primary {
			box-shadow: none;
		}
	}

}
.site-header.out-of-view {

	.site-branding {
		@extend %site-logo--small;
	}

	.nav--primary.alt-top {
		@extend  %nav--primary--small;
	}
}

.site-branding {
	width: 100%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: get-spacing();

	@extend %site-logo--small;

	@media screen and ( min-width: bp(sm) ) {
		.site-logo {
			width: 580px;
			left: 0;
			height: auto;
			position: relative;
			aspect-ratio: auto;
		}
		.logo-mobile {
			display: none;
		}
		.logo-desktop {
			display: block;
		}
	}

	.entry-title {
		font-family: edo, sans-serif;
		@extend %screen-reader-text;
		padding-bottom: get-spacing();
	}
}
