//--------------------------------------------------------------
// Global Site Footer
//--------------------------------------------------------------
.site-footer {
	background: #000;
	color: color( 'background' );
	padding-bottom: 2rem;
}

.wp-block-social-links {
	margin-top: 0;
	margin-bottom: 0;
	padding: get-spacing( 4 );
	display: flex;
	justify-content: flex-end;
}
